<div id="main" class="homepage">
    <!-- start header-->
    <div class="header">
        <div class="logo"> <img src="../../assets/img/logo.png" /> </div>
        <div class="title"> 
               
        المعهد القومى<br/>
         للبحوث الفلكية و الجيوفيزيقية    
        </div>
        <div id="hitarea" class="menubtn"> <span class="icon-bars" style="display:none;"></span> </div>
        <div id="btnback" class="back" > <span class="icon-arrow-left"></span> </div>
    </div>
    <!-- end header-->
    <div class="container">
       <div>

        Homepage
            <br/>
            
            <a routerLink="/" routerLinkActive="active">Home</a>
            <a routerLink="/Contact" routerLinkActive="active">Contact</a>

            </div>
        <!-- -->
        
    </div>
</div>
