/* You can add global styles to this file, and also import other style files */
home, contact{
    width:100%;
    height: 100%;
}

html,body{height: 100%;}
body{
    margin: 0;    
    direction: rtl;
    overflow: hidden;
    font-family: 'Droid Arabic Kufi';
    line-height: 1.4;
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/kufi/DroidKufi-Regular.eot);
    src: url(assets/fonts/kufi/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'), 
    url(assets/fonts/kufi/DroidKufi-Regular.woff2) format('woff2'), 
    url(assets/fonts/kufi/DroidKufi-Regular.woff) format('woff'), 
    url(assets/fonts/kufi/DroidKufi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/kufi/DroidKufi-Bold.eot);
    src: url(assets/fonts/kufi/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'), 
    url(assets/fonts/kufi/DroidKufi-Bold.woff2) format('woff2'), 
    url(assets/fonts/kufi/DroidKufi-Bold.woff) format('woff'), 
    url(assets/fonts/kufi/DroidKufi-Bold.ttf) format('truetype');
}







/*! normalize.css v3.0.2 | MIT License | git.io/normalize */


/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}




/* HTML5 display definitions
   ========================================================================== */


/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}


/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}


/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}


/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}


/* Links
   ========================================================================== */


/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background-color: transparent;
}


/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}


/* Text-level semantics
   ========================================================================== */


/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}


/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
    font-weight: bold;
}


/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
    font-style: italic;
}


/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */


/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}


/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}


/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* Embedded content
   ========================================================================== */


/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
    border: 0;
}


/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
    overflow: hidden;
}


/* Grouping content
   ========================================================================== */


/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
    margin: 1em 40px;
}


/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}


/**
 * Contain overflow in all browsers.
 */

pre {
    overflow: auto;
}


/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}


/* Forms
   ========================================================================== */


/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */


/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}


/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
    overflow: visible;
}


/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
    text-transform: none;
}


/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}


/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}


/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
    line-height: normal;
}


/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}


/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}


/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
    overflow: auto;
}


/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
    font-weight: bold;
}


/* Tables
   ========================================================================== */


/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}


/* --- General --- */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-weight: normal;
}

img {
    max-width: 100%;
}

.hidden {
    display: none;
}

.upper {
    text-transform: uppercase;
}

.list-unstyled {
    padding-left: 0;
    padding-right: 0;
    list-style: none;
}

.no-text {
    text-indent: -999em;
    overflow: hidden;
    display: block;
}

.nopadding-hor {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/* -- Main Content -- */

.container {
    margin: 0;
    position: fixed;
    overflow-y: visible;
    height: 100%;
    overflow-x: hidden;
    z-index: 9;
    margin-top: 0;
    padding-top: 70px;
    width: 100%;
}

.device-screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.device-screen * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.device-screen *:active {
    outline: none;
}


/* --- Header --- */

.header {
    background: #ffffff;
    padding: 5px 0;
    border-bottom: 1px solid #97865c;
    position: fixed;
    height: 70px;
    z-index: 999;
    width:100%;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.15);
}

.pageheader {
    text-align: center;
    margin: 10% 1%;
}

.back,
.menubtn {
    width: 20%;
    position: absolute;
    left: 0;
    text-align: left;
    padding: 3%;
    top: 0;
    height: 100%;
    padding-top: 8%;
    cursor: pointer;
}

.back span,
.menubtn span {
    font-size: 8vw;
}

.header .logo {
    width: 14%;
    text-align: right;
    float: right;
    max-width: 60px;
    margin-right: 5px;
}

.logo img,
.title img {
    width: 100%;
}

.title {
    text-align: center;
    width: 60%;
    margin: 6px auto;
    font-weight: bold;
    color: #91802b;
}



/* --- Nav (Side Menu) --- */

.sidemenu {
    position: absolute;
    left: 0;
    color: white;
    background: grey;
    height: 100%;
    width: 75%;
    text-align: left;
    font-family: 'Droid Arabic Kufi';
}

.sidemenu a.menu-item {
    display: block;
    font-size: 5vw;
    padding: 3vw;
    color: white;
    margin: 0px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #a0a0a0;
    font-weight: bold;
    text-align: right;
    line-height: 1;
}

.sidemenu img.menu-image {
    width: 100%;
}

.sidemenu.menu-en .menu-icon,
.sidemenu.menu-ar .menu-text {
    float: right;
}

.sidemenu.menu-ar .menu-icon,
.sidemenu.menu-en .menu-text {
    float: left;
}

.sidemenu .menu-text {
    line-height: 1.6;
}

.sidemenu.menu-ar .menu-icon:before {
    font-size: 8vw;
}

.sidemenu a.menu-item-footer {
    background: black;
    margin: 2%;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    position: absolute;
    bottom: 5px;
}

.sidemenu .menu-item-footer .menu-icon-img {
    width: 11%;
}


/* =========================== Main Content ================================ */


/* --- Intro --- */

.event.received {

}

.event.received .inner {
    display: table-cell;
    vertical-align: middle;
}

.event.received .inner h1 {
    font-size: 10vw;
    margin-top: 0px;
}

.event.received .inner img {
    max-width: 60%;
}

.loading {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    background: white;
    width: 100%;
    height: 100%;
}

.loading img {
    position: fixed;
    top: 40%;
    left: 42%;
}

.general_loading {
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    max-height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    display: none;
    position: fixed;
    height: 100%;
}

.general_loading img {
    position: ABSOLUTE;
    top: 48%;
    left: 42%;
}




.start {
    width: 100%;
    background: white;
    position: fixed;
    height: 100%;
    z-index: 99999;
    top: 0;
}

.base {
    overflow: hidden;
}


/* No Connection*/

.no-connection {
    position: absolute;
    margin-top: 30vw;
    width: 100%;
}





/* --- Page1 --- */

#main {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ececec;
    top: 0;
    left: 0;
    overflow-x: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}





/* ------ */

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #bfbfbf;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bfbfbf;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bfbfbf;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bfbfbf;
}


/* ------ */


.view {
    position: absolute;
    top: 0;
    width: 100%;
    transition: 400ms;
    background: #ececec;
    height: 100%;
    padding: 0;
    z-index: 9;
}





.sidemenu {
    z-index: 9999;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    transition-property: all !important;
}

.menu-visible {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-property: all !important;
}


/*splash page*/

.splash a {
    display: block;
    background: white;
    padding: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    text-align: center;
    color: #97865c;
    font-weight: bold;
    border: 1px solid #cacaca;
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.device-screen:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.bahet:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    content: "";
    display: block;
    z-index: 999;
    top: 0;
}

